<div class="total">

  <header>
     <nav class="first_level">
        <ul>
          <li class="tickets"><a href="/#tickets">Tickets</a></li>
          <li class="users"><a href="/#users">Users</a></li>
      </nav>
    <h1>Tickets</h1>
  </header>

  <div class="flash">
    <!-- Flash notices -->
  </div>

  <section class="main_content">
    <!-- Main Application Container -->
  </section>

  <footer>
    <p>
      This application is a simple demonstration of the Duckbone gem,
      a set of extensions for Rails development with Backbone.js.
    </p>
  </footer>

</div>

<script>
  // Bootstrap users collection
  Tickets.collections.users = new Tickets.UsersCollection(<%= User.all.to_json.html_safe %>)
</script>