<div class="new_ticket_button_container">
  <button class="new_ticket">New Ticket</button>
</div>

<form action="#" class="search">
  <input type="text" name="q" placeholder="Search..."/>
  <span class="loading" style="display: none">
    <img src="/assets/ajax_loader.gif"/>
  </span>
</form>

<div class="ticket_categories">
  <a href="#" class="open_tickets">Open Tickets</a>
  <a href="#" class="closed_tickets">Completed Tickets</a>
</div>

<div class="ticket_notice"></div>

<div class="new_ticket_container"></div>