<h2>Tickets</h2>

<nav class="second_level">
  <li> <a href="#" class="new_ticket">New Ticket</a> </li>
  <li> <a href="#" class="open_tickets">Open Tickets</a> </li>
  <li> <a href="#" class="closed_tickets">Completed Tickets</a> </li>
</nav>

<form action="#" class="search">
  <input type="text" name="q" placeholder="Search..."/>
  <span class="loading" style="display:none">Searching...</span>
</form>

<div class="new_ticket_container"></div>