@import "mixins/colors";

section.main_content {
  div.comment {
    margin: 20px 0px 10px 0px;
    border-top: solid 1px $base00;
    padding: 10px 0px 10px 0px;
    width: 600px;
  }
  div.body {
    font-size: 14px;
    padding: 10px;
  }
}