@import "mixins/colors";

html, body {
  background-color: #eeeeee;
  color: $base01;
  font-family: Helvetica, Arial, sans-serif;
}

div.total {
  width: 1000px;
  margin: 10px auto 30px auto;
}

h1, h2 {
  color: $base00;
  text-align: left;
}

header {
  border-bottom: solid 1px $base00;
  margin: 0px 0px 10px 0px;
}

h3, h4 {
  color: $black;
  padding: 0px 0px 10px 0px;
  text-transform: uppercase;
}

em, strong {
  color: $magenta;
}

a:link, a:visited {
  color: $base00;
  text-decoration: none;
}

a:hover {
  color: $violet;
}

footer {
  clear: both;
  margin-top: 30px;
  font-size: 11px;
}

button {
  background-color: $base00;
  display: inline-block;
  padding: 5px 10px 6px;
  color: #fff;
  text-decoration: none;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  border-width: 0px;
}

button:hover {
  background-color: $violet;
}

nav {
  ul {
    margin: 0px;
    padding: 0px;
    li {
      display: inline-block;
      margin: 10px;
      padding: 0px;
      list-style: none;
    }
  }
  a {
    display: inline-block;
    padding: 5px 40px 5px 40px;
    border-radius: 10px;
    background-color: $white;
    color: $base00;
  }
  li.current {
    a {
      color: $white;
      background-color: $base00;
    }
  }
}

nav.first_level {
  float: right;
  font-size: 12px;
  text-transform: capitalize;
}

nav.second_level {
  margin: 10px 0px 10px 0px;
  padding: 0px;
  font-size: 12px;
  text-transform: capitalize;
}

form {
  font-size: 12px;
  label {
    display: block;
    margin: 10px 5px 5px 10px;
  }
  input[type="text"], textarea {
    display: block;
    margin: 5px 5px 15px 0px;
    font-size: 14px;
    padding: 10px;
    border-radius: 10px;
    border-width: 1px;
    border-color: $base00;
    width: 580px;
  }
  div.form_radio_set {
    input {
      display: inline;
    }
    label {
      display: inline;
    }
  }
  ul.error {
    margin: 0px;
    padding: 5px 5px 10px 10px;
    li {
      text-transform: uppercase;
      font-weight: bold;
      list-style: none;
      color: $orange;
      padding: 5px;
      margin: 0px;
    }
  }
}