@import "mixins/colors";
@import "mixins/elements";

section.main_content {
  div.new_ticket_button_container {
    float: right;
  }
  form.search {
    float: left;
    input {
      display: inline-block;
      font-size: 14px;
      color: $base00;
      border-radius: 10px;
      padding: 5px 10px 5px 10px;
      border-width: 1px;
      width: 150px;
    }
  }
  div.ticket_categories {
    font-size: 12px;
    a {
      display: inline-block;
      padding: 10px 0px 0px 20px;
    }
  }
  div.ticket_notice {
    clear: both;
    font-size: 12px;
    color: $black;
    font-weight: bold;
    padding: 15px 0px 0px 20px;
  }
}

section.main_content {
  div.paged_tickets {
    @include white-card;
    ul.listable_view {
      clear: both;
      margin: 0px;
      padding: 0px;
      li.ticket {
        display: block;
        clear: both;
        list-style: none;
        margin: 0px;
        padding: 0px 10px 0px 10px;
        height: 40px;
        border-bottom: solid 1px #eeeeee;
        div.column {
          float: left;
          width: 100px;
          white-space: nowrap;
          overflow: hidden;
          font-size: 12px;
          text-transform: capitalize;
        }
        div.kind {
          float: left;
          width: 150px;
          padding-top: 12px;
        }
        div.title {
          width: 300px;
          font-size: 14px;
          font-weight: bold;
          padding-top: 10px;
        }
        div.owner {
          float: right;
          width: 150px;
          padding-top: 12px;
        }
        div.status {
          float: right;
          width: 100px;
          padding-top: 12px;
        }
        div.actions {
          float: right;
          padding-top: 5px;
          width: 200px;
        }
      }
      li:hover {
        border-color: $base00;
      }
      li div.actions {
         visibility: hidden;
      }
      li:hover div.actions {
        visibility: visible;
      }
    }
    div.pager {
      text-align: center;
      clear: both;
      font-size: 12px;
      padding: 15px 0px 20px 0px;
      a {
        display: inline-block;
        padding: 5px 10px 5px 10px;
        border-radius: 10px;
        color: $base00;
        box-shadow: 0px 0px 3px rgba(0,0,0, 0.5);
        -webkit-box-shadow: 0px 0px 3px rgba(0,0,0, 0.5);
      }
      a:hover {
        color: $violet;
        border-color: $violet;
        text-decoration: none;
      }
      span.inactive {
        display: inline-block;
        padding: 5px 10px 5px 10px;
        box-shadow: 0px 0px 3px rgba(0,0,0, 0.5);
        -webkit-box-shadow: 0px 0px 3px rgba(0,0,0, 0.5);
        border-radius: 10px;
      }
      span.current {
        display: inline-block;
        padding: 5px 10px 5px 10px;
        background-color: $base00;
        color: $white;
        border-radius: 10px;
      }
    }
  }
}

section.main_content {
  div.new_ticket {
    @include white-card;
    form {
      div.inputs_kinds {
        float: left;
        padding: 0px 0px 20px 10px;
        width: 200px;
      }
      div.inputs_info {
        float: left;
        width: 600px;
      }
      div.actions {
        margin: 10px 0px 0px 200px;
        clear: both;
        padding: 10px;
      }
    }
  }
}

section.main_content {
  div.show_ticket {
    div.back_icon {
      float: left;
      text-align: center;
      width: 30px;
      color: black;
      border: solid 1px $black;
      padding: 5px 10px 5px 10px;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      border-radius: 5px;
    }
    div.ticket_notice {
      margin: 0px 0px 0px 60px;
      padding: 10px 0px 0px;
      width: 600px;
      cursor: pointer;
      clear: none;
    }
    div.the_ticket {
      @include white-card;
      clear: both;
      padding: 20px;
      div.info {
        float: right;
        width: 200px;
      }
      div.description {
        font-size: 14px;
        padding: 20px 0px 20px 0px;
      }
      div.kind {
        text-transform: uppercase;
      }
      div.actions {
        text-align: center;
        border-top: solid 1px $base00;
        padding: 10px;
      }
    }
  }
}

section.main_content {
  div.edit_ticket {
    @include white-card;
    padding: 20px;
    div.actions {
      padding: 10px 0px 10px 0px;
    }
  }
}