
section.main_content {
  div.paged_tickets {
    ul {
      clear: both;
      margin: 10px 0px 10px 0px;
      li {
        display: block;
        clear: both;
        list-style: none;
        margin: 10px 0px 10px 0px;
        div.column {
          float: left;
          width: 200px;
        }
      }
    }
    div.pager {
      clear: both;
    }
  }
}