@import "mixins/colors";
@import "mixins/elements";

section.main_content {
  div.users {
    form.search {
      width: 300px;
      float: right;
      select {
        margin-left: 20px;
      }
    }
    ul.users_list {
      clear: both;
      margin: 10px 0px 10px 0px;
      padding: 10px 0px 0px 0px;
      li.user {
        margin: 0px;
        list-style: none;
        border-bottom: solid 1px #ffffff;
        padding: 10px;
        div.full_name {

        }
        div.group {
          float: right;
        }
      }
    }
  }
}